/.idea/
/tudui_learn/dataset/
/tudui_learn/hymenoptera_data/
/tudui_learn/linear/
/tudui_learn/mymodel/
/tudui_learn/sequential/
/tudui_learn/sigmoid/
/tudui_learn/nl/logs/
/tudui_learn/nl/model_save/
/tudui_learn/nl/test_img/
/tudui_learn/dataset_test/
/**/data/